@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* GERAL */
html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  font-family: 'Wix Madefor Display', sans-serif;
  color: white;
  background-color: #C3B1E1;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  margin: 0;
}

.section-mark {
  height: 60px;
  padding: 10px 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #fc4f00;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-mark>h1 {
  font-size: 2vw;
}

/* TOP NAV 
.topnav {
  background-color: #9F005F;
  width: 100%;
  z-index: 10;
  top: 0;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.top-logo>img {
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px;
  transition: transform 0.3s ease;
}

.top-logo>img:hover {
  transform: scale(0.9);
}

.top-links {
  margin-right: 15px;
}

.top-links>a {
  padding: 10px;
  font-weight: bold;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.top-links>a:hover {
  font-size: large;
  color: darkorange;
}
*/

.topnav {
  background-color: #9F005F;
  width: 100%;
  min-height: 80px;
  z-index: 10;
  top: 0;
  display: flex;
  position: sticky;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}



.top-logo>img {
  max-width: fit-content;
  max-height: fit-content;
  padding: 10px;
  transition: transform 0.3s ease;
}

.top-logo>img:hover {
  transform: scale(0.9);
}

.top-links {
  display: flex;
}

.top-links>a {
  padding: 10px;
  font-weight: bold;
  transition: font-size 0.3s ease, color 0.3s ease;
}

.top-links>a:hover {
  font-size: large;
  color: darkorange;
}

.dropdown-icon {
  display: none;
  /* Initially hide the dropdown icon */
}

.dropdown-btn {
  background-color: #9F005F;
  color: white;
  font-size: 35px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #9F005F;
  position: absolute;
  right: 0;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.dropdown-content>a {
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.dropdown-content>a:hover {
  background-color: darkorange;
}

@media (max-width: 768px) {
  .top-links {
    display: none;
    /* Hide the top links */
  }

  .top-logo {
    padding: 15px;
    flex: 1;
    text-align: center;
    /* Center the logo */
  }

  .dropdown-icon {
    display: block;
  }
}


/* LOGO */
.logo {
  width: 100%;
  height: 100vh;
}

.logo-img {
  height: calc(100vh - 600px);
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo-img>img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 20% 100%;
}

.logo-img>h1,
.logo-img>h3 {
  z-index: 1;
}

.logo-img>h1 {
  font-size: 10vw;
}

.logo-img>h3 {
  font-size: 2vw;
  margin: 0;
}

.purple-w {
  color: #7F00FF;
  margin: 0;
}

.orange-w {
  color: #FFA800;
  margin: 0;
}

/* SEÇÃO SOBRE */
.about {
  width: 100%;
}

.about>h2 {
  text-align: center;
}

.about-block-one,
.about-block-two {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 20px 0;
  /* Margin: top and bottom */
}

.about-block-one>img {
  width: 500px;
  height: 500px;
  padding-left: 10%;
  transition: height 0.3s ease, width 0.3s ease;
}

.about-block-one>img:hover {
  height: 600px;
  width: 600px;
}

.about-block-two>img {
  width: 700px;
  height: 500px;
  transition: height 0.3s ease, width 0.3s ease;
}

.about-block-two>img:hover {
  height: 600px;
  width: 750px;
}

.about-text {
  padding: 20px;
  width: 50%;
  font-size: 2.5vw;
  text-align: justify;
}

/* SEÇÃO AULAS */
.classes {
  background-color: rebeccapurple;
  width: 100%;
  height: 100vh;
}

.contacts {
  background-color: lightpink;
  width: 100%;
  height: 100vh;
}

.local {
  background-color: lightcoral;
  width: 100%;
  height: 50vh;
}