@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@500&display=swap');

/* General Styles */
html {
    background: linear-gradient(357deg, rgba(183, 19, 117, 1) -11.22%, rgba(209, 72, 95, 0.59) 72.86%, rgba(247, 149, 64, 1) 106.76%);
}

body {
    background-image: url(img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Wix Madefor Display', sans-serif;
    color: white;
}

/* Top Navigation */
.topnav {
    height: 100px;
    background-color: #9F005F;
    box-shadow: 0px 53px 48px 0px rgba(0, 0, 0, 0.25); 
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 100px;
    width: 150px;
    padding: 0 10px;
}

.buttons a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: 15px;
}

.buttons a:hover {
    color: darkorange;
}

/* Main Page */
.main-page {
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page > img {
    max-width: 100%;
    height: auto;
}

/* About Us Section */
.about-us {
    padding: 50px ;
    text-align: center;
}

.about-us > h1 {
    background-color: #fc4f00;
    width: fit-content;
    padding: 10px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 0;
}


.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.block {
    margin: 20px;
    max-width: 400px;
    text-align: justify;
}

.block > img {
    max-width: 100%;
    height: auto;
}


/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
    .blocks {
        flex-direction: column;
        align-items: center;
    }

    .block {
        margin: 20px 0;
    }
}


/* Seção Programas*/
.classes {
    height: 3330px;
    background-color: burlywood;
}

/* Seção Contatos*/
.contacts {
    height: 720px;
    background-color: darkslategrey;
}


/* Seção Localização*/
.local {
    height: 1130px;
    background-color: deeppink;
}

